.search-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    height: 52px;
    padding: 0 24px;
    border-radius: 12px;

    background-color: var(--search-bg);
}

.search-container input {
    height: calc(100% - 24px);
    appearance: none;
    border: none;
    outline: none;
    background: none;

    font-size: 14px;
    color: black; 
}

.search-container button {
    border: none;
    background: none;
}