:root {
    /* colors */ 
    --main-bg-color: rgb(241, 241, 241);
    --btn-main-bg-color: rgb(98, 71, 170); 
    --btn-sub-bg-color: rgb(171, 162, 200);
    --btn-sub-bg-a-color: rgb(98, 71, 170);
    --btn-sub-bg-d-color: rgb(198, 198, 198);

    --text-main-color: black;
    --text-sub-color: gray;
    --active-color: white;

    /* sizes */
    --text-main-size: 24px;
    --text-sub-size: 14px;
    --component-height: 52px; 
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
}

/* Split window in side navigation and main */

.grid-parent {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 100vh;
    grid-template-areas: "sidenav main";
}

/* --------------------------- */
/*           General           */
/* --------------------------- */

.icon {
    fill: darkgray;
    margin: 0 12px 0 0;
}

input {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

/* --------------------------- */
/*       Side navigation       */
/* --------------------------- */

.sidenav-wrapper {
    grid-area: sidenav;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin: 24px;
    border-radius: 12px;
    background-color: white;
}

/* Side navigation header */

.sidenav-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 24px 0 12px 0;
}

.sidenav-header figure {
    margin: 0 12px 0 0;
}
.sidenav-header-data {
    margin: 0 0 0 12px;
}

.sidenav-header-title {
    margin: 0;
    
    font-weight: bold;
    font-size: var(--text-main-size);
    color: var(--text-main-color);
}

/* Side navigation options */

.sidenav-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    height: 100%;
    margin: 12px 0 24px 0;
}

.sidenav-options button {
    align-self: center;

    cursor: pointer;
    width: calc(100% - 48px);
    height: var(--component-height);
    border-style: hidden;
    border-radius: 12px;
    margin: 12px 0;

    font-weight: bold;
    font-size: var(--text-main-size);
    color: var(--active-color);
    background-color: var(--btn-main-bg-color);
}

.sidenav-options button:hover {
    border-style: hidden;
    background-color: rgb(70, 43, 144);
}

.sidenav-options ul {
    list-style-type: none;

    width: 100%;
    margin: 0;
    padding: 0;
}

.sidenav-options li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    cursor: pointer;
    width: calc(100% - 24px);
    margin: 24px 0 24px 24px;

    font-weight: bold;
    font-size: var(--text-main-size);
    color: var(--text-main-color);
}

/* --------------------------- */
/*            Main             */
/* --------------------------- */

.todo-wrapper {
    grid-area: main;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin: 128px 64px;
}

/* Main header */

.todo-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    margin: 24px 0 12px 0;
}

.todo-header h1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    margin: 0 0 12px 0;

    font-size: 36px;
}

/* Main header buttons */

.todo-header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 100%;
    margin-top: 12px;
}

.todo-header-buttons button {
    cursor: pointer;
    height: var(--component-height);
    border-style: hidden;
    border-radius: 12px;
}

.todo-header-buttons-all {
    padding: 0 24px;
    margin-right: 48px;

    font-weight: bold;
    font-size: var(--text-main-size);
    color: var(--text-main-color);
    background-color: var(--btn-sub-bg-color);
}

.todo-header-buttons-mod {
    padding: 0 12px;
    margin-right: 12px;

    background-color: var(--btn-sub-bg-d-color);
}

/* Main header search engine */
.todo-header-search {
    margin-left: auto;
}

/* Main list */