:root {
    /* colors */ 
    --main-bg-color: rgb(241, 241, 241);
    --btn-main-bg-color: rgb(98, 71, 170); 
    --btn-sub-bg-color: rgb(170, 161, 200); 
    --btn-sub-bg-a-color: rgb(139, 116, 216); 
    --btn-sub-bg-d-color: rgb(198, 198, 198);
    --search-bg: rgba(171, 162, 200, 0.25);
 
    --text-main-color: black;
    --text-sub-color: gray;
    --active-color: white;

    /* sizes */
    --text-main-size: 24px;
    --text-sub-size: 14px;
    --component-height: 52px; 
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
}

/* Split window in side navigation and main */

.grid-parent {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 100vh;
    grid-template-areas: "sidenav main";
}

/* --------------------------- */
/*           General           */
/* --------------------------- */

.icon {
    fill: darkgray;
    margin: 0 12px 0 0;
}

/* --------------------------- */
/*       Side navigation       */
/* --------------------------- */

.sidenav-wrapper {
    grid-area: sidenav;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin: 24px;
    border-radius: 12px;
    background-color: white;
}

/* Side navigation header */

.sidenav-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 24px 0 12px 0;
}

.sidenav-header figure {
    margin: 0 12px 0 0;
}
.sidenav-header-data {
    margin: 0 0 0 12px;
}

.sidenav-header-title {
    margin: 0;
    
    font-weight: bold;
    font-size: var(--text-main-size);
    color: var(--text-main-color);
}

/* Side navigation options */

.sidenav-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    height: 100%;
    margin: 12px 0 24px 0;
}

.sidenav-options a {
    align-self: center;

    cursor: pointer;
    width: calc(100% - 48px);
    height: var(--component-height);
    border-style: hidden;
    border-radius: 12px;
    margin: 12px 0;

    line-height: var(--component-height);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: var(--text-main-size);
    color: var(--active-color);
    background-color: var(--btn-main-bg-color);
}

.sidenav-options ul {
    list-style-type: none;

    width: 100%;
    margin: 0;
    padding: 0;
}

.sidenav-options li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    cursor: pointer;
    width: calc(100% - 24px);
    margin: 24px 0 24px 24px;

    font-weight: bold;
    font-size: var(--text-main-size);
    color: var(--text-main-color);
}

/* --------------------------- */
/*            Main             */
/* --------------------------- */

.main-wrapper {
    grid-area: main;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin: 128px 32px;
}

/* Main header */

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    box-sizing: border-box;

    width: 100%;
    padding: 0 32px;
}

.main-header-data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 12px;
}

.main-header h1 {
    margin: 0;
    font-size: 36px;
}

/* Main header search engine */

.search-component {
    margin-left: auto;
}

/* List */

.list-component {
    width: 100%;
    height: 100%;
}